body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.6);
  color: #fff;
  z-index: 1000;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

/* HERO */
.hero {
  height: 100vh;
  background: url("profile.jpg") center/cover no-repeat;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.hero-overlay {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.hero h1 {
  font-size: 3em;
}

.hero h1 span {
  color: #2dd4bf;
}

.btn {
  margin-top: 20px;
  padding: 12px 28px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
}

/* SECTIONS */
.section {
  max-width: 1000px;
  margin: 80px auto;
  padding: 0 20px;
}

.section h2 {
  margin-bottom: 15px;
  font-size: 2em;
}
